
*{
  margin:0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat";
  color: #fff;
}

html,body{
  height: 100%;
  width: 100%;
}

*::-moz-selection{
  background-color: white;
  color: #95C11E;
}

*::selection{
  background-color: white;
  color: #95C11E;
}

body::-webkit-scrollbar{
  display: block;
  width: 5px;
  background-color: #95C11E;
}

body::-webkit-scrollbar-thumb{
  background-color: #fff;
  border-radius: 2vw;
}

#nav{
  height: 20vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  gap: 3vw;
  padding: 0 10vw;
  z-index: 999;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#nav img{
  height: 10vh;
}

#nav h4{
  font-weight: 500;
}

video{
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: fixed;
  z-index: -1;
}

#main{
  position: relative;
  background-color: rgba(0, 0, 0, 0.25);
}

#cursor{
  height: 25px;
  width: 25px;
  position: fixed;
  border-radius: 50%;
  background-color: #95C11E;
  z-index: 999;

}

#cursor-blur{
  height: 400px;
  width: 400px;
  position: fixed;
  border-radius: 50%;
  background-color: #96c11e2a;
  z-index: 9;
  -webkit-filter: blur(40px);
          filter: blur(40px);
}

#page1{
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1vw;
  z-index: 10;
}

#page1 h1::before{
  content: "EAT. DRINK. PLAY.";
  position: absolute;
  z-index: -1;
  top: -4px;
  left: -4px;
  color: black;
  -webkit-text-stroke: 2px greenyellow;
}

#page1 h1{
  font-size: 9vw;
  position: relative;
}

#page1 h2{
  font-size: 2vw;
}

#page1 h3{
  font-size: 1.3vw;
  text-align: center;
  font-weight: 500;
}

#page2{
  min-height: 100vh;
  width: 100%;
  z-index: 10;
}

#scroller{
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
  position: relative;
  z-index: 10;
}

#scroller::-webkit-scrollbar{
  display: none;
}

#scroller h4{
  display: inline-block;
  font-size: 10vw;
  margin-right: 3vw;
  -webkit-text-stroke: 2px #95C11E;
  color: transparent;
  -webkit-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  transition: all linear 0.3s;
  font-family:'Times New Roman', Times, serif;
}

#scr-in{
  white-space: nowrap;
  display: inline-block;
  -webkit-animation-name: scroll;
          animation-name: scroll;
  -webkit-animation-duration: 45s;
          animation-duration: 45s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

#scroller h4:hover{
  color: #95C11E;
}

@-webkit-keyframes scroll {

  from{
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to{
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes scroll {

  from{
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to{
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

#about-us{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex ;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5vw;
}

#about-us img{
  height: 16vw;
  width: 17vw;
  border-radius: 1vw;
  -o-object-fit: cover;
     object-fit: cover;
}

#about-text{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 55%;
}

#about-text h3{
  font-size: 5vw;
}

#about-text p{
  width: 80%;
  text-align: center;
  font-size: 1.4vw;
}

#green-div{
  background: -webkit-gradient(linear, right top, left bottom, from(#24A737), to(#ACE202));
  background: -o-linear-gradient(right top, #24A737, #ACE202);
  background: linear-gradient(to left bottom, #24A737, #ACE202);
  height: 25vh;
  margin-top: 6vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#green-div img{
  height: 100%;
  width: 15%;
  -o-object-fit: cover;
     object-fit: cover;
}

#green-div h4{
  width: 40%;
  font-size: 1.5vw;
  line-height: 2vw;
  text-align: center;
  color: #000;
}

#page3{
  height: 100vh;
  width: 100%;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

#page3>p{
  font-size: 2vw;
  font-weight: 700;
  width: 50%;
  text-align: center;
  line-height: 2.5vw;
}

#page3 img{
  height: 4vw;
  position: absolute;
}

#page3 #quote-right{
  bottom: 30%;
  right: 19%;
}

#page3 #quote-left{
  top: 25%;
  left: 20%;
}

#page4{
  height: 50vh;
  width: 100%;
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 4vw;
  position: relative;
}

#page4 h1{
  position: absolute;
  font-size: 6vw;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #000;
  text-transform: uppercase;
  top: -20%;
  -webkit-text-stroke: 2px #fff;
}

#page4 .elem{
  height: 50%;
  width: 25%;
  background-color: #95C11E;
  border-radius: 2vw;
  position: relative;
  overflow: hidden;
}

.elem img{
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  scale: 1.1;
  -webkit-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
}

.elem h2{
  height: 100%;
  width: 100%;
  font-size: 2.5vw;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #95C11E;
  position: absolute;
  z-index: 10;
  -webkit-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
}

.elem:hover h2{
  opacity: 0;
}

.elem:hover img{
  scale: 1;
}

#footer{
  height: 40vh;
  width: 100%;
  background: -webkit-gradient(linear, right top, left bottom, from(#24A737), to(#ACE202));
  background: -o-linear-gradient(right top, #24A737, #ACE202);
  background: linear-gradient(to left bottom, #24A737, #ACE202);
  position: relative;
  overflow: hidden;
  z-index: 10;
}

#footer>img{
  height: 40vh;
  width: 30%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}

#upper{
  height: 40vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8vw;
}

#upper img{
  height: 15vh;
  width: 20vh;
  z-index: 10;
  margin-left: 8vw;
}

#upper h4{
  color: #000;
  font-size: 1.5vw;
  line-height: 2vw;
  font-weight: 700;
}

#upper h5{
  color: #000;
  font-size: 1vw;
  font-weight: 700;
  line-height: 1.3vw;
}

@media (max-width:600px) {
  #nav h4{
    display: none;
  }

  #nav img{
    position: absolute;
    top: 15%;
    right: 10%;
  }

  #cursor, #cursor-blur{
    display: none;
  }

  #page1{
    height: 70vh;
  }

  #page1 h1{
    font-size: 15vw;
    width: 80%;
  }

  #page1 h1::before{
    top: -3px;
    left: -3px;
  }

  #page1 h2{
    font-size: 3vw;
  }

  #page1 h3{
    font-size: 2vw;
  }

  #page2{
    min-height: 50vh;
  }
  
  #scroller h4{
    font-size: 20vw;
  }
  
  #about-us img{
    display: none;
  }
  
  #about-text{
    gap: 2vw;
    width: 100%;
  }
  
  #about-text h3{
    font-size: 8vw;
  }
  
  #about-text p{
    width: 80%;
    font-size: 2vw;
  }

  #green-div h4{
    font-size: 3vw;
    line-height: 3vw;
  }

  #page3{
    height: 60vh;
  }
  
  #page3>p{
    font-size: 5vw;
    width: 80%;
    line-height: 5vw;
  }
  
  
  #page3 #quote-right{
    bottom: 20%;
    right: 12%;
  }
  
  #page3 #quote-left{
    top: 20%;
    left: 12%;
  }

  #page4{
    height: 50vh;
  }

  #page4{
    height: 70vh;
    width: 100%;
    background-color: #000000;
    display: block;
  }
  
  #page4 h1{
    display: none;
  }
  
  #page4 .elem{
    height: 20vh;
    width: 80%;
    margin: 0 10vw 5vw 10vw;
    border-radius: 4vw;
  }
  
  .elem h2{
    font-size: 8vw;
  }
  
  #footer{
    height: 30vh;
  }
  
  #upper img{
    display: none;
  }

  #upper{
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  #upper h4{
    display: none;
  }
  
  #upper h5{
    font-size: 4vw;
    line-height: 4vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

}